<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
</head>
<body>
    <div class="containner">
        <p> otp authentication reqired </p>
        <form action = "/front-end/otpverification/templates/getph" method = "POST">
            <label for"phone-number">enter the mobile number</label>
            <input type = "tel" name = "number">
            <br>
            <br>
            <button type = "submit">Click</button>
            </div>
</body>
</html>
