<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
</head>
<body>
    <div class= "containner">
        <form action="otpverf" method = "POST">
            <label for="verify">Enter the 6-digit otp here</label>
            <input type = "number" name = "otp">
            <br>
            <br>
            <button type = "submit">Click</button>
        </form>
    </div>
</body>
</html>