<!DOCTYPE html> 
<html> 
	<head> 
		<title>Flask and SQLite </title> 
	</head> 
	<body> 

		<form method="POST"> 
			
			<label>Enter Email:</label> 
			<input type="email" name="email" placeholder="Enter your email" required><br/> 
			
			<label>Enter password</label> 
			<input type="name" name="password" placeholder="Your password" required><br/> 
			<input type = "submit" value = "submit"><br/> 
		</form> 

		<!-- <script> onclick="myFunction4()"
			function myFunction4() {
			  location.replace("http://127.0.0.1:5000/")
			}
		</script> -->
		
	</body> 
</html>


