<!DOCTYPE html> 
 <html> 
	<head> 
		<title>Flask and SQLite </title> 
	</head> 
	<body> 
		<form method="POST"> 
			<label>Enter Name:</label> 
			<input type="name" name="name" placeholder="Enter your name" required><br/> 
			<label>Enter Email:</label> 
			<input type="email" name="email" placeholder="Enter your email" required><br/> 
			<label>Enter City:</label> 
			<input type="name" name="city" placeholder="Enter your City name" required><br/> 
			<label>Enter Country:</label> 
			<input type="name" name="country" placeholder="Enter the Country name" required><br/> 
			<label>Enter phone num:</label> 
			<input type="name" name="phone" placeholder="Your Phone Number" required><br/> 
			<input type = "submit" value = "submit"/><br/> 
		</form> 









		

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-page</title>
    <link rel="stylesheet" href="login.css">
    <script src="https://kit.fontawesome.com/447788c533.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class ="form-box">
            <h1>Sign UP</h1>

            <form>
                <div class="input-group">
                    <div class="input-user">
                        <i class="fa-sharp fa-solid fa-user"></i>
                        <input type="text" placeholder="name">
                    </div>
                    <div class="input-email">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" placeholder="email">
                    </div>
                    <div class="input-password">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="password">
                    </div>
                </div>
                <div class="button-field">
                    <button type="button">Sign Up</button>
                    <button type="button">Sign In</button>
                </div>
            </form>
            


        </div>
    </div>
    
</body>
</html>





	</body> 
</html>


