<!DOCTYPE html> 
 <html> 
	<head> 
		<title>Flask and SQLite </title> 
	</head> 
	<body> 
		<form method="POST"> 
			<label>Enter Name:</label> 
			<input type="name" name="name" placeholder="Enter your name" required><br/> 
			<label>Enter Email:</label> 
			<input type="email" name="email" placeholder="Enter your email" required><br/> 
			<label>Enter City:</label> 
			<input type="name" name="city" placeholder="Enter your City name" required><br/> 
			<label>Enter Country:</label> 
			<input type="name" name="country" placeholder="Enter the Country name" required><br/> 
			<label>Enter phone num:</label> 
			<input type="name" name="phone" placeholder="Your Phone Number" required><br/> 
			<input type = "submit" value = "submit"/><br/> 
		</form> 







	</body> 
</html>


