<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate Generation</title>
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>
<body>
    <section class="wrapper">
        <section class="main">
            <section class="navbar">
                <div class="logo">
                    <img src="static/images/LW1 (light).png" alt="LW LOGO">
                </div>
                <button class="signin">
                    <a href="http://127.0.0.1:5000/signin" target="_blank"><i class='bx bx-user-circle'></i>Logout</a>
                </button>
                </div>
            </section>
            <section class="main-content">
                <span>Online Cerificate Generator</span>
                <div class="upload-btn">
                    <input type="file" id="Upload">
                    <i class='bx bxs-cloud-upload'></i>
                    <label for="Upload">Upload File</label>
                </div>
            </section>
        </section>
    </section>
</body>
</html>


{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Excel File</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upload Excel File</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="file-upload" class="custom-file-upload">Choose File</label>
            <input id="file-upload" type="file" name="file">
            <button type="submit">Upload</button>
        </form>
    </div>
</body>
</html>








 {% endcomment %}