<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="admin page for data upload">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="author" content="Rajesh and Yasar">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/admin.css">
    </head>

    <body>
        <div class="container">
            <div class="upload-bar">
                <div class="file-upload">
                    <label for="excelFile">Upload the Excel file here:</label>
                    <input type="file" class="excelFile" name="excelFile" accept=".xlsx, .xls">
                    <div class="imageicon">
                        <!-- <img src="cloud-upload.1024x785.png"> -->
                        <p>Drag and drop or click here <br>to upload your excel file here</p>
                        <span>upload the files from desktop</span>
                    </div>

                </div>
            </div>
            <a href="http://127.0.0.1:5000/signin" >Sign In</a>

        </div>
    </body>
            

            
      
</html>