<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body style="display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;">
<form action="/otp_verify" method="POST" enctype="multipart/form-data">
<div style="text-align: center; background-color: #fff; padding: 30px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
    <h2 style="color: #333;" >Enter OTP</h2>
    <p style="color: #666;">A verification code has been sent to your email. Please enter it below.</p>

    <input type="text" name="OTP" style="padding: 10px; margin: 20px 0; border: 1px solid #ccc; border-radius: 5px; width: 100%; max-width: 300px; font-size: 16px;">

    <button style="padding: 10px 20px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s; font-size: 16px;"  action="/otp_verfiy" method="POST">Submit</button>
</div>
</form>

</body>
</html>