<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-page</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="https://kit.fontawesome.com/447788c533.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class ="form-box">
            <h1>Sign In</h1>


            

            <form>
                <div class="input-group">
                    <div class="input-user">
                        <i class="fa-sharp fa-solid fa-user"></i>
                        <input type="text" placeholder="name">
                    </div>
                    <div class="input-email">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" placeholder="email">
                    </div>
                    <div class="input-password">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="password">
                    </div>
                </div>
                <div class="button-field">
                    <h1><a href="http://127.0.0.1:5000/signup" >Sign Up</a> </h1>
                    
                    <button type="button">Sign In</button>
                </div>
            </form>
            


        </div>
    </div>
    
</body>
</html>